@using Microsoft.AspNetCore.Identity;

@inject UserManager<AppUser> UserManager;

@if(!User.Identity.IsAuthenticated)
{
    @*//////// User Profile Login*@
    <a class="btn btn-outline-success my-2 my-sm-0" asp-controller="Login" asp-action="Login">
        <i class="bi-box-arrow-in-right"></i> Login
    </a>
    <span style="padding: 4px;"></span>

    <a class="btn btn-outline-success my-2 my-sm-0" asp-controller="Login" asp-action="Register">
        <i class="bi-box-arrow-in-right"></i> Register
    </a>
}else
{
    @*//////// User Profile*@
    <div class="dropdown">
        <button class="btn btn-outline-success dropdown-toggle" type="button" id="profile-btn" data-toggle="dropdown" aria-expanded="false">
            <i class="bg bi-person-badge"></i> Hello @UserManager.GetUserName(User)
        </button>
        <ul class="dropdown-menu" aria-labelledby="profile-btn">
            <li>
                <a class="dropdown-item" asp-controller="Order" asp-action="Index">
                    <i class="bg-info bi-list"></i> Orders
                </a>
            </li>
        </ul>
    </div>

    <span style="padding: 4px;"></span>
    <form asp-controller="Login" asp-action="Logout">
        <button class="btn btn-outline-danger my-2 my-sm-0">
            <i class="bi bi-box-arrow-in-right"></i> Logout
        </button>
    </form>
}



